@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

 .genLayout{
    max-width: 1000px;
    margin: auto;
} 

.projHead{
    background-color: #A6BCFA;
}

.proReturn{
    padding: 1rem;
}

.proReturn > a{
    padding: 0.3rem 0.4rem;
    width: 110px;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;
    text-transform: uppercase ;
    font-size: 15px;
    background-color: #ffff;
    color: black;
    border-radius: 15px;
}

.proReturn > a > span{
    border-radius: 100%;
    padding: 0.3rem;
    background-color: #A6BCFA;
}
 
.projHeader{
    padding-block: 4rem;
 
} 

 .projCont{
    width: 380px;
    margin: auto;
    text-align: left; 
    line-height: 3.5rem; 
} 

.projCont > h1{
    color: #ffff;
    text-transform: capitalize;
    font-size: 45px;
    
}

.projCont > p{
    color: #ffff;
    font-size: 20px;
    text-transform: capitalize;
}

.projWrapper{
    margin-block: 1.5rem;
}

.projWord > h1{
    text-align: center;
    font-size: 35px;
    text-transform: capitalize;

}

.projBox{
    margin-block: 1.5rem ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
}

.projCard{
    width: 300px;
    box-shadow: .01rem .2rem 5px rgb(98, 97, 97);
    border-radius: 10px;
    transform: transform 0.3 ease;;
}

.projCard:hover{
    background-color: #A6BCFA;
    transform: scale(1.1);
}

.proImg{
    background-color: #A6BCFA;
    padding: 1rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 300px;
    height: 200px;
}

.proImg > img{
    width: 100%;
    height: 100%;
}

.proj__Content{
    padding: 1rem;
}

.proj__Content > h1{
    font-size: 22px;
    margin-block: 0.5rem;
    text-transform: capitalize;
}

.proj__Content > p{
    font-size:15px;
}

.projLInk{
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem; 
}

.projLive{
    border: 1px solid;
    padding: 5px;
}

.projLive > a{
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    font-size: 15px;
}

      /* LINK RESPONSIVENESS */
@media(min-width:260px) and (max-width:460px){
    .genLayout{
        width: calc(100% - 60px);
    }

    .projCont{
        width: 100%;
    }

    .projCont > h1{
        font-size: 30px;
        text-align: center;
    }

    .projCont > p{
        text-align: center;
        font-size: 15px;
    }

    .projWord > h1{
        font-size: 30px;
        text-align: center;
    }

    .projBox{
        overflow-x: scroll;
        padding: 1rem;
    }
}
