@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.genLayout{
    max-width: 1000px;
    margin: auto;
}

header{
    background: linear-gradient(90deg, #A6BCFA 37%, #ffff 10%);
    padding-bottom: 5rem;
    transition: 0.3s;
    height: 85vh;
   
    /* border: 1px solid; */
} 
nav{
     height: 11vh;
    width: 100%;
}
.navBox{
    padding: 1rem;
    position: fixed;
     width: 100%;
    background: linear-gradient(90deg, #A6BCFA 37%, #ffff 10%);
   
    z-index: 2;
}

.navGen{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navBoxImg{
    width: 50px;
}

.navBoxImg > img{
    width: 100%;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 2.5rem; 
}

.navItems{
    display: flex;
    gap: 2rem;
}

.navItems > a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #393939;
}

 .hamburger, #toggle{
    display: none;
}

 .navImg{
    width: 25px;
}

 .light_mode{
    width: 10px;
} 

.light_mode > img{
    width: 100%;
}

.dark_mode{
    display: none;
}

 @media (min-width:320px) and (max-width:500px){
 header{
    height: 103vh;
 }
    .navBox{
        background: #FFFFFF;
    }
    .navRight{
        position: absolute;
        width: 75%;
        padding-top: 1.4rem;
        top: 5rem;
        right: 0;
        z-index: 1;
        background-color: #0a0701;
        opacity: 0.8;
        border-bottom: 4px solid #fff;
        transform: translatex(100%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1); 
    }

    .navItems{
        flex-direction: column;
        gap: 0;
    }

    .navItems > a{
        font-size: 17px;
        color: #fff;
        border-bottom: 1.5px solid #393939;
        padding: 1rem;
    }

    .hamburger{
        display: block;
        font-size: 2.5rem;
        opacity: 0.5;
    }

        #toggle:checked + .navRight{
        display: block;
        transform: none;
    }

    .navImg{
        width: 70px;
        padding: 1rem;
    }
 }

/* Styling Hero section */

.heroWrapperBox{
    width: 800px;
    margin: 3rem auto;
     height: 40vh;
}

.heroWrapper{
    width: 100%; 
   /* margin: auto; */
   position: relative;
   height: 100%;
   
}

.heroCard{
    background-color: #0047FF0D; 
    border: 1px solid #FFFFFF80;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100%;
    padding: 2rem 5rem;
    position: absolute;
    z-index: 1; 
    height: 100%;
}

.heroBox{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.heroImgCircle{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
}

.heroImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 0.7rem;
}

.heroImg > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.heroWord > h1{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    line-height: 2.8rem;
    font-size: 40px;
    color: #393939;
}

.heroWord > h1 > span{
    color: #2157F2;
}

.heroWord > p{
    margin-block: 1rem;
    font-family: "Roboto", sans-serif;
    color: #393939;
    font-size: 13px;
    line-height: 1.3rem;
}

.heroButton{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heroButton > a:first-child{
    border: 1px solid;
    background-color: #2157F2;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.heroButton > a{
    color: #6C92FF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.heroWrapper > img:first-child{
     position: absolute;
    width: 60px;
    top: -2.5rem;
    left: 15rem;
}

.heroWrapper > img:last-child{
    position: absolute;
    width: 70px;
    right: 0;
    bottom: 0;
}


.proIconWrapper{
    display: flex;
    justify-content: end;
    width: 800px;
    margin: auto;
    padding: 0 2rem;
}

.proIconCont{
    display: flex;
    gap: 0.4rem;
}

.proIconBox{
    width: 120px;
  
}

.proIconImgWap{
     position: relative;
     height: 5vh;
     background-color: #FFFFFF;
} 

.proIconImgBox{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF; 
    position: absolute;
    left: 2.3rem;
    top: 1rem;
    border-radius: 100%;
    padding: 0.3rem;
}

.proIconImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid;
    padding: 0.3rem;
    background-color: black;
     
}

.proIconImg > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.proIconWord{
    height: 70px;
    background-color: #A6BCFA;
    border-radius: 20px;
}

.proIconWord > h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 2rem;
}   
 @media (min-width:320px) and (max-width:500px){
    .heroWrapperBox{
        width: calc(100% - 60px);
        margin: 3rem auto;
    }
    .heroWrapper{
       width: 350px;
       height: 600px;
       margin: auto;
    }

    .heroCard{
         padding: 2rem 3rem;
         margin-bottom: 4rem;
    }   

    .heroBox{
     flex-direction: column;
     gap: 1.5rem;
    }

    .heroImgCircle{
    width: 250px;
    height: 250px;
}

.heroWord > h1{
    font-size: 30px;
}

.proIconWrapper{
   
     width: 300px;
    height: 40vh; 
     margin-top: 25rem;
   
}

.proIconCont{
     display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    height: 32vh;
}
 }




  /* Project Section */
  .proCon{
    margin-top: 4rem;
    padding-bottom: 6rem;
  }

  .proWord{
    width: 100px;
    margin: 1.5rem auto;
    line-height: 2rem;
  }

  .proWord > h1{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    text-align: center;
  }

 .proWap{
    width: 800px;
    margin: auto;
    position: relative;
    z-index: 1;
 }

 .proWap > img{
    width: 100%;
    transition: transform 0.3 ease;
 }

 .proWap > img:hover{
    background-color: #2157F2;
    cursor: pointer;
    transform: scale(1.1);

 }

 /* .proWap:hover{
    cursor: pointer;
    background-color: #2157F2;
 } */

 .proWap > a{
    position: absolute;
    right: 20rem;
    top: 9rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
    padding: 0.5rem 2rem;
    border-radius: 15px;
    font-size: 13px;
    transition: transform 0.3 ease;

 }

 .proWap > a:hover{
    transform: scale(1.1);
 }

 .proImg{
    position: absolute;
    width: 200px;
    right: -4.5rem;
    bottom: -6.5rem;
    z-index: -1;

 }

 .proImg > img{
    width: 100%;
 }
  @media (min-width:320px) and (max-width:500px){

    .proCon{
        margin-top: 20rem;
    }
    .proWap{
        width: calc(100%);
    }

    .proImg{
        width: 100px;
        bottom: -3rem;
        right: 2rem;
    }
    .proWap > a{
    right: 7rem;
    top: 4rem;

    }

  }

/* About styling */
.blueSection{
    background-color: #A6BCFA;
}
.aboutBox{
    background-image: url(images/map_lagos-removebg-preview.png);
    background-size: cover; 
    background-position: center ; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; 
     gap: 4rem; 
    /* padding-block: 5rem; */
}



.aboutCon{
    width: 500px;
    /* margin-left: 4rem; */
    display: flex;
     height: 600px; 
}

.aboutBoarder{
    display: flex;
    align-items: end;
}

.aboutConWap{
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #FFFFFF80;
    background-color: #0047FF0D;
    padding: 1.5rem;
    height: 400px;
}

.aboutTxt > h2{
    font-family: "Roboto", sans-serif;
    color: #393939;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.7rem; 
}

.aboutTxt > h2 > span{
    color: #2157F2;
}

.aboutTxt > p{
    margin-block: 1rem;
    font-family: "Roboto", sans-serif;
    color: #393939;
    font-size: 15px;
    line-height: 1.4rem;

}


 .ratingCon{
         width: 100%;

      }


     .aboutRating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 0.5rem;
        
    }

    .aboutRating > h1{
        color: #FFFFFF;
        font-size: 15px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
    }

    .aboutRating > P{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }



     .butRating{
        border: 1px solid #FFFFFF80 ;
        border-radius: 10px;
        background-color: #FAFAFA;
     
     }

     .butRating > .butInside{
        background-color: #2157F2;
        padding: 0.4rem 0rem;
        width: 10%;
        border-radius: 10px;
    } 

    .aboutRatingWap{
        margin-bottom: 1.5rem;
    }

      .aboutRating1{
        display: flex;
        justify-content: space-between;
        padding: 0rem 0.5rem;
    }

    .aboutRating1 > h1{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
    }

    .aboutRating1 > P{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }

    .aboutImg > img{
        width: 500px;
    }

    @media (min-width:320px) and (max-width:500px){
.aboutBox{
    width: 100%;
    flex-direction: column;
}

.aboutCon{
    width: 350px;
}

.aboutImg{
    width: 100%;
    display: flex;
    justify-content: end;
}

.aboutImg > img{
        width: 300px;
    }

    }



    /* Service Styling */
    .sevWap {
            padding: 4rem 0;
        }

        .sevTxt{
            width: 100px;
            margin: auto;
        }

    .sevTxt > h4{
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        color: #000000;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        }

        .circle{
            margin: auto;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);

        }

        .sevBox{
        display: flex;
        justify-content:space-between;
        padding: 0 6rem;
        margin-block: 4rem;
    }

        .sevContent > h2 {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            color: #000000;
            width: 450px;
            padding-bottom: 2rem;
        }
        .sevContent > h2 > span{
            color: #2157F2;
        }
        .sevContent > ol{
            padding-left: 1rem;
        }
        .sevContent > ol > li{
            color: #000000;
            text-transform: uppercase;
            line-height: 2rem;
            font-family: "Roboto", sans-serif;
        }

        .hexWrapper{
            display: flex;
            gap: 1.5rem;
        }

        .hexCon{ 
            position: relative; 
            width: 200px;
            box-shadow: 0px 15px 29px 0px #0000000D;
            height: 200px;
        }

        .hexagon{
            position: absolute;
            left: 1.5rem;
            top: 1.5rem;
        }


        .hexItems{
           position: absolute;
           top: 4.5rem;
           right: 0;
           width: 100%;
        }

        .hexItems > h1{
            text-align: center;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            color: #2157F2;
        }

        .hexItems > p{
            font-size: 8.5px ;
            text-align: center;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
        }


     .hexagon {
      width: 150px;
  height: 150px;
  background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
   clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
    ); 
     }

      @media (min-width:320px) and (max-width:500px){
        .sevWap{
            width: calc(100% - 60px);
        }

        .sevBox{
            flex-direction: column;
            padding: 0 ;
        }

        .sevContent > h2{
            width: 300px;
        }

        .hexCon{
            width: 170px;
            height: 170px;
        }

        .hexagon{
            position: absolute;
            left: 1rem;
            top: 1.5rem;
        }


        .hexItems{
           position: absolute;
           top: 3.5rem;
           right: 0;
           width: 100%;
        }

        .hexagon{
            width: 130px;
            height: 130px;
        }

      }



        /* Educational Styling */

        .eduCon{
            background-color: #A6BCFA;
        }

         .eduBox{
            padding: 4rem 0;
         }

         .eduTxt{
            width: 300px;
            margin: auto;
            margin-bottom: 3rem;
            text-align: center;
            gap: 1rem;
         }

         .eduTxt > h4{
            text-transform: capitalize;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            align-items: center;
         }


         .expBox{
             width: 600px;
            margin: auto;
            background-color: #0047FF0D; 
            border: 1px solid #FFFFFF80;
            padding: 2rem;
            border-radius: 20px;
         }

         .expItems{
            margin-bottom: 2rem;
            line-height: 1.5rem;
         }
        
         .expItems > h4{
            text-transform: uppercase;
            color: #393939;
            font-size: 25px;
            font-family: "Roboto", sans-serif;
            padding-bottom: 2rem;
        }

        .hexBox{
            display: flex;
            gap: 0.5rem;
        }

        .hexBox > h2{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #FAFAFA; 
         }

          .expItems > h2 > img{
            padding-right: 1rem;
            width: 30px;
          }

          .expItems > p{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }
          .expItems > h6{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 10px;
            font-weight: 450;
            font-family: "Roboto", sans-serif;
        }


             .expItems1{
                line-height: 1.5rem;
             }

          .expItems1 > p{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }
          .expItems1 > h6{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-weight: 450;
            font-size: 10px;
            font-family: "Roboto", sans-serif;
        }

     .hexagon1{
      width: 20px;
  height: 20px;
  background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
   clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
    ); 
     }

        @media (min-width:320px) and (max-width:500px){
            .expBox{
                width: 350px;
            }


           }


     /* Contact Styling */
     .conWap{
        margin: 2rem auto;
     }

     .conTxt{
        margin-bottom: 3rem;
        line-height: 2rem;
     }

     .conTxt > h4{
        width: 200px;
        margin: auto;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: #000000;
     }

     form{
        width: 100%;
        padding: 2rem;
        box-shadow: 8px 8px 34px 0px #0000000D;
        background: linear-gradient(90deg, #FFFFFF 60%, #A6BCFA 70%); 
        border-radius: 30px ;
     }

     .footBox{
        width: 450px;
        margin: 3rem;
     }

     .footItems{
        margin-bottom: 2rem;
     }

     .footItems > h1{
        font-size: 30px;
        font-family: "Roboto", sans-serif;
     }

      .footItems > h1 > span{
        color: #2157F2;
     }

     .formBox{
        margin-bottom: 1rem;
     }

     .formBox > input{
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        padding: 0.5rem;
        outline: none;

     }

     .formText{
        margin-bottom: 1rem;
     }

    .formText > textarea{
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-size: 10px;
        padding: 0.5rem;
        outline: none;
        height: 15vh;
    }

    .formButton{
        margin-bottom: 2rem;
    }

    .formButton > button{
        width: 100%;
        padding: 0.7rem;
        text-transform: uppercase;
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        background-color: #2157F2;
        font-weight: 500;
        font-size: 13px;
        border: none;
    }

    .formContact{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 2.5rem;
    }

    .formContactBox{
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .formContactBox > img{
        width: 25px;
    }

    .formContactBoxTxt{
        line-height: 0.9rem;
    }

    .formContactBoxTxt > h4{
        text-transform: uppercase;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }

    .formContactBoxTxt > p{
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
    }

    .formContactBoxTxt > a{
        text-decoration: none;
        font-size: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
       }

       .social__Icon{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
       }


     
     
    @media (min-width:320px) and (max-width:500px){
        .conWap{
            width: calc(100% - 60px);
        }

        form{
            padding: 1rem;
        }

        .footBox{
            margin: 0;
            width: 100%;

        }

        .formContact{
        gap: 0.8rem;
    }

     .formContactBox{
        gap: 0.3rem;
    }

     .formContactBox > img{
        width: 20px;
    }

            .social__Img{
        width: 20px;
     } 

    }

