@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap);

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.genLayout{
    max-width: 1000px;
    margin: auto;
}

header{
    background: linear-gradient(90deg, #A6BCFA 30%, #ffff 10%);
    padding-bottom: 5rem;
    transition: 0.3s;
}
  
.headLeft{
    width: 320px;
    background-color: #A6BCFA;
    padding-bottom: 5rem;
}

.navBox{
    display: flex;
    align-items: center;
    padding: 1rem;
    justify-content: space-between;
}

.navBoxImg{
    width: 50px;
}

.navBoxImg > img{
    width: 100%;
}

.navRight{
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.navItems{
    display: flex;
    gap: 2rem;
}

.navItems > a{
    text-decoration: none;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    color: #393939;
}

 .navImg{
    width: 25px;
}

.navImg > img{
    width: 100%;

} 

/* Styling Hero section */
.heroWrapperBox{
    width: 1000px;
    margin-block: 3rem;
}
.heroWrapper{
    width: 800px; 
   margin: auto;
   position: relative;
   height: 40vh;
   
}

.heroCard{
    background-color: #0047FF0D; 
    border: 1px solid #FFFFFF80;
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100%;
    padding: 2rem 5rem;
    /* backdrop-filter: blur(2px); */
    position: absolute;
    z-index: 1; 

}

.heroBox{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.heroImgCircle{
    border-radius: 100%;
    width: 250px;
    height: 250px;
    background-color: #FFFFFF;
}

.heroImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    padding: 0.7rem;
}

.heroImg > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}


.heroWord > h1{
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    line-height: 2.8rem;
    font-size: 40px;
    color: #393939;
}

.heroWord > h1 > span{
    color: #2157F2;
}

.heroWord > p{
    margin-block: 1rem;
    font-family: "Roboto", sans-serif;
    color: #393939;
    font-size: 13px;
    line-height: 1.3rem;
}

.heroButton{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.heroButton > a:first-child{
    border: 1px solid;
    background-color: #2157F2;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    border-radius: 13px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.heroButton > a{
    color: #6C92FF;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-decoration: none;
    text-transform: capitalize;
}

.heroWrapper > img:first-child{
     position: absolute;
    width: 60px;
    top: -2.5rem;
    left: 15rem;
}

.heroWrapper > img:last-child{
    position: absolute;
    width: 70px;
    right: 0;
    bottom: 0;
}


.proIconWrapper{
    display: flex;
    justify-content: end;
    width: 850px;
}

.proIconCont{
    display: flex;
    gap: 0.8rem;
}

.proIconBox{
    width: 120px;
  
}

.proIconImgWap{
     position: relative;
     height: 5vh;
     background-color: #FFFFFF;
} 

.proIconImgBox{
    width: 50px;
    height: 50px;
    background-color: #FFFFFF; 
    position: absolute;
    left: 2.3rem;
    top: 1rem;
    border-radius: 100%;
    padding: 0.3rem;
}

.proIconImg{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 1px solid;
    padding: 0.3rem;
    background-color: black;
     
}

.proIconImg > img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.proIconWord{
    height: 70px;
    background-color: #A6BCFA;
    border-radius: 20px;
}

.proIconWord > h4{
    text-align: center;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 2rem;
}   


  /* Project Section */
  .proCon{
    margin-top: 4rem;
    padding-bottom: 6rem;
  }
  .proWord{
    width: 100px;
    margin: 1.5rem auto;
    line-height: 2rem;
  }

  .proWord > h1{
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    text-transform: capitalize;
    text-align: center;
  }

 .proWap{
    width: 800px;
    margin: auto;
    position: relative;
    z-index: 1;
 }

 .proWap > img{
    width: 100%;
    transition: transform 0.3 ease;
 }

 .proWap > img:hover{
    background-color: #2157F2;
    cursor: pointer;
    transform: scale(1.1);

 }

 /* .proWap:hover{
    cursor: pointer;
    background-color: #2157F2;
 } */

 .proWap > a{
    position: absolute;
    right: 20rem;
    top: 9rem;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    color: #FFFFFF;
    background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
    padding: 0.5rem 2rem;
    border-radius: 15px;
    font-size: 13px;
    transition: transform 0.3 ease;

 }

 .proWap > a:hover{
    transform: scale(1.1);
 }

 .proImg{
    position: absolute;
    width: 200px;
    right: -4.5rem;
    bottom: -6.5rem;
    z-index: -1;

 }

 .proImg > img{
    width: 100%;
 }







/* About styling */
.aboutBox{
    background-color: #A6BCFA;
    background-image: url(images/map_lagos-removebg-preview.png);
    background-size: cover; 
    background-position: center ; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center; 
    gap: 4rem;
    padding-block: 5rem;
}



.aboutCon{
    width: 400px;
    margin-left: 4rem;
}

.aboutConWap{
    width: 100%;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 1px solid #FFFFFF80;
    background-color: #0047FF0D;
    padding: 1.5rem;
}

.aboutTxt > h2{
    font-family: "Roboto", sans-serif;
    color: #393939;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.7rem; 
}

.aboutTxt > h2 > span{
    color: #2157F2;
}

.aboutTxt > p{
    margin-block: 1rem;
    font-family: "Roboto", sans-serif;
    color: #393939;
    font-size: 15px;
    line-height: 1.4rem;

}


 .ratingCon{
         width: 100%;

      }


     .aboutRating{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0rem 0.5rem;
        
    }

    .aboutRating > h1{
        color: #FFFFFF;
        font-size: 15px;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
    }

    .aboutRating > P{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }



     .butRating{
        border: 1px solid #FFFFFF80 ;
        border-radius: 10px;
        background-color: #FAFAFA;
     
     }

     .butRating > .butInside{
        background-color: #2157F2;
        padding: 0.4rem 0rem;
        width: 10%;
        border-radius: 10px;
    } 

    .aboutRatingWap{
        margin-bottom: 1.5rem;
    }

      .aboutRating1{
        display: flex;
        justify-content: space-between;
        padding: 0rem 0.5rem;
    }

    .aboutRating1 > h1{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        text-transform: uppercase;
    }

    .aboutRating1 > P{
        color: #FFFFFF;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        font-weight: bolder;
    }



    /* Service Styling */
    .sevWap {
            padding: 4rem 0;
        }

        .sevTxt{
            width: 100px;
            margin: auto;
        }

    .sevTxt > h4{
        text-transform: capitalize;
        font-family: "Roboto", sans-serif;
        color: #000000;
        font-size: 20px;
        text-align: center;
        font-weight: 500;
        }

        .circle{
            margin: auto;
            width: 20px;
            height: 20px;
            border-radius: 100%;
            background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);

        }

        .sevBox{
        display: flex;
        justify-content:space-between;
        padding: 0 6rem;
        margin-block: 4rem;
    }

        .sevContent > h2 {
            font-family: "Roboto", sans-serif;
            text-transform: uppercase;
            color: #000000;
            width: 450px;
            padding-bottom: 2rem;
        }
        .sevContent > h2 > span{
            color: #2157F2;
        }
        .sevContent > ol{
            padding-left: 1rem;
        }
        .sevContent > ol > li{
            color: #000000;
            text-transform: uppercase;
            line-height: 2rem;
            font-family: "Roboto", sans-serif;
        }

        .hexWrapper{
            display: flex;
            gap: 1.5rem;
        }

        .hexCon{ 
            position: relative; 
            width: 200px;
            box-shadow: 0px 15px 29px 0px #0000000D;
            height: 200px;
        }

        .hexagon{
            position: absolute;
            left: 1.5rem;
            top: 1.5rem;
        }


        .hexItems{
           position: absolute;
           top: 4.5rem;
           right: 0;
           width: 100%;
        }

        .hexItems > h1{
            text-align: center;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            color: #2157F2;
        }

        .hexItems > p{
            font-size: 8.5px ;
            text-align: center;
            text-transform: uppercase;
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
        }


     .hexagon {
      width: 150px;
  height: 150px;
  background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
   clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
    ); 
     }



        /* Educational Styling */

        .eduCon{
            background-color: #A6BCFA;
        }

         .eduBox{
            padding: 4rem 0;
         }

         .eduTxt{
            width: 300px;
            margin: auto;
            margin-bottom: 3rem;
            text-align: center;
            gap: 1rem;
         }

         .eduTxt > h4{
            text-transform: capitalize;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #FFFFFF;
            align-items: center;
         }


         .expBox{
             width: 600px;
            margin: auto;
            background-color: #0047FF0D; 
            border: 1px solid #FFFFFF80;
            padding: 2rem;
            border-radius: 20px;
         }

         .expItems{
            margin-bottom: 2rem;
            line-height: 1.5rem;
         }
        
         .expItems > h4{
            text-transform: uppercase;
            color: #393939;
            font-size: 25px;
            font-family: "Roboto", sans-serif;
            padding-bottom: 2rem;
        }

        .hexBox{
            display: flex;
            gap: 0.5rem;
        }

        .hexBox > h2{
            text-transform: uppercase;
            display: flex;
            align-items: center;
            font-size: 20px;
            font-family: "Roboto", sans-serif;
            color: #FAFAFA; 
         }

          .expItems > h2 > img{
            padding-right: 1rem;
            width: 30px;
          }

          .expItems > p{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }
          .expItems > h6{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 10px;
            font-weight: 450;
            font-family: "Roboto", sans-serif;
        }


             .expItems1{
                line-height: 1.5rem;
             }

          .expItems1 > p{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-size: 12px;
            font-family: "Roboto", sans-serif;
        }
          .expItems1 > h6{
            padding-left: 2rem;
            text-transform: capitalize;
            color: #393939;
            font-weight: 450;
            font-size: 10px;
            font-family: "Roboto", sans-serif;
        }

     .hexagon1{
      width: 20px;
  height: 20px;
  background: linear-gradient(180deg, #A6BCFA 0%, #2157F2 100%);
   clip-path: polygon(
    50% 0%,
    100% 25%,
    100% 75%,
    50% 100%,
    0% 75%,
    0% 25%
    ); 
     }


     /* Contact Styling */
     .conBox{
        width: 600px;
        margin: 2rem auto;
     }

     .conTxt{
        margin-bottom: 3rem;
        line-height: 2rem;
     }

     .conTxt > h4{
        width: 200px;
        margin: auto;
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        text-transform: capitalize;
        color: #000000;
     }

     form{
        padding: 2rem;
        box-shadow: 8px 8px 34px 0px #0000000D;

     }
     
     .formWap{
        display: flex;
        justify-content: space-between;
     }

     .formCont{
         width: 300px;
     }

     .formBoxWap{
        display: flex;
        gap: 0.5rem;
        margin-bottom: 2rem;
     }

     .formWord > h1{
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        color: #000000;
        margin-bottom: 1.5rem;

     }

     .formBox > input{
        background-color: #F5F5F5;
        font-family: "Roboto", sans-serif;
        border: none;
        border-radius: 8px ;
        font-size: 10px;
        padding-block: 0.5rem;
        padding-left: 0.6rem;
        padding-right: 1.9rem;
        /* width: 145px; */
     }

     .subForm > input{
        width: 100%;
        padding-bottom: 5rem;
        padding-left: 0.6rem;
        padding-top: 0.5rem;
        background-color: #F5F5F5;
        font-family: "Roboto", sans-serif;
        text-transform: capitalize;
        border: none;
        border-radius: 10px;
        font-size: 10px;
     }


     .form__Location{
        display: flex;
        gap: 1rem;
        padding-bottom: 1rem;
     }

     .form__img{
        width: 30px;
     }

     .form__img > img{
        width: 100%;
     }

     /* .form__City{
        line-height: ;

     } */

     .form__City > h1{
        font-family: "Roboto", sans-serif;
        color: #000000;
        font-size: 13px;
        text-transform: capitalize;

     }

     .form__City > p{
        font-family: "Roboto", sans-serif;
        color: #8B8B8B;
        font-size: 10px;

     }

     .conBut{
        margin-block: 1.5rem;
     }

     .conBut > button{
        font-family: "Roboto", sans-serif;
        background-color: #2157F2;
        padding: 0.4rem 1.5rem;
        border: none;
        color: #FFFFFF;
        border-radius: 10px;
        text-transform: capitalize;
        font-size: 13px;
     }

     .social__Icon{
        margin-block: 2rem;
        display: flex;
        justify-content: center;
     }

     .social__Img{
        display: flex;
        gap: 1rem;
     }

     .social__Img > img{
        width: 30px;
     }

